<div>
    <h3><i class='fas fa-wallet' style='font-size:36px'></i>eWallet</h3>
    <div class="profile">
        <h6>{{userName}}&nbsp;&nbsp;<img routerLink="/profile" class="imageclass" src="../../assets/images/avatar.png" width=35>
            <button (click)="logout()" id="butn" class="logoutbtn">Logout</button></h6>
    </div>
    <span class="amount"><i class="fas fa-rupee-sign" style="color: black;"></i>&nbsp;{{totalAmount}}</span>
    <br/>
    <hr>
    <div class="container">
        <h5>All Transactions</h5>
        <a style="position: absolute; left: 85%;top:18px" routerLink="/wallet-dashboard">Go To DashBoard</a>
        <div *ngFor="let cardx of allData index as i" class="card" id="taskcard" data-toggle="collapse" href='#cardx'>
            <div class="card-body">
                <div>
                    <div>&nbsp;&nbsp;<i class="fas fa-exchange-alt" style="font-size: 25px;color: rgb(3, 91, 207);"></i>
                        <div class="transactionid">
                            <strong>Transaction ID :</strong>{{allData[i].traId}}
                         </div>
                         <div class="senderid">
                            <strong>Sender Account :</strong>{{allData[i].senderAccId}}
                         </div>
                         <div class="recieverid">
                            <strong>Reciever Account :</strong>{{allData[i].receiverAccId}}
                         </div>
                         <div class="date">
                            <strong>Date :</strong>{{allData[i].time}}
                         </div>
                         <div class="sendamount">
                            <strong><i class="fas fa-rupee-sign" style="color: black;"></i></strong><span style="color:rgb(28, 172, 28);">&nbsp;{{allData[i].amount}}</span>
                         </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>