<div>
  <h3><i class='fas fa-wallet' style='font-size:36px'></i>eWallet</h3>
  
  <br/>
  <hr>
  <div>
      <div class="cardalign">
        <div class="container card" style="margin: 20px;">
    
    
          <div style="margin: auto;padding: 20px;">
            <h4 style="margin-bottom: 40px;">User registration form</h4>
            <form #userData="ngForm" novalidate>
    
    
              <div class="form-group">
                <label for="firstName">Username</label>
                <input type="text" #first_Name="ngModel" required class="form-control"
                  [class.is-invalid]="first_Name.invalid && first_Name.touched" style="width:500px;height:30px;"
                  name="Name" [(ngModel)]='userDetailsModel.userName'>
                <small class="text-danger" [class.d-none]="first_Name.valid || first_Name.untouched">Name is
                  required</small>
              </div>
    
    
              
              <div class="form-group" [class.has-error]="email.invalid && email.touched">
                <label for="email" class="control-label">Email</label>
                <input id="email" required email type="text" class="form-control" name="email"
                        [(ngModel)]="userDetailsModel.emailId" #email="ngModel">
                <small class="text-danger" *ngIf="email.errors?.required && email.touched">
                  Email is required
                </small>
                <small class="text-danger" *ngIf="email.errors?.email && email.touched">
                  Email is Invalid
                </small>
              </div>
              <!-- <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" style="width:500px;height:30px;" #email="ngModel" required
                  [class.is-invalid]="email.invalid && email.touched" required[email] = "userDetailsModel.email!==''" name="email" [(ngModel)]='userDetailsModel.emailId'>
                <span class="text-danger" *ngIf ="email.errors?.required && email.touched">Email is
                  required</span>
                  <span class="text-danger" *ngIf ="email.errors?.email && email.touched">Email is
                    invalid</span>
              </div> -->
    
    
              <div class="form-group">
                <label>phone No</label>
                <input type="text" class="form-control" style="width:500px;height: 30px;" #phoneno="ngModel" required
                  [class.is-invalid]="phoneno.invalid && phoneno.touched" required pattern="[789][0-9]{9}" name="phone" [(ngModel)]='userDetailsModel.phoneNo'>
               
              <small class="text-danger" *ngIf="phoneno.errors?.required && phoneno.touched">
                phoneNo is required
              </small>
              <small class="text-danger" *ngIf="phoneno.errors?.pattern && phoneno.touched">
                phoneNo is Invalid
              </small>
              </div>
    
              
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" maxlength="15" style="width:500px;height: 30px;"
                  #pass="ngModel" required [class.is-invalid]="pass.invalid && pass.touched" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$"
                  name="password" [(ngModel)]='userDetailsModel.pass'>
                  <small class="text-danger" *ngIf="pass.errors?.required && pass.touched">
                    Password is required
                  </small>
                  <small class="text-danger" *ngIf="pass.errors?.pattern && pass.touched">
                    Password is Invalid. "Password (UpperCase, LowerCase, Number/SpecialChar and min 8 Chars)"
                  </small>
  
              </div>
    
              <div class="row float-right" style="margin-top: 20px;">
                  <button class="btn" routerLink="/">Cancel</button>
                  <button  [disabled]="userData.form.invalid"
                    class="btn btn-primary" (click)="register()">Register</button>
                </div>
      
              </form>
            </div>
          </div>
        </div>      
  </div>
</div>